 .custom-bg{
    background-color:skyblue;
  
}

.admin .card{
    border:3px solid skyblue;
} 
.admin .card:hover{
    background: lightblue;
    cursor:pointer;
}
.list-group-item.active{
  background-color:skyblue;
  color:black;
  border-color: skyblue;
}
.discount-label{
    font-size:10px;
    dont-style:italic!important;
/*    text-decoration:line-through;*/
}
.product-card:hover{
     background: lightblue;
    cursor:pointer;
}